global
    daemon

defaults
    mode http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend apache_servers

backend apache_servers
    balance roundrobin
    server ap01 ap01:80 check
    server ap02 ap02:80 check
